<!DOCTYPE html>
<html>
<body>
<h1 style="text-align: center;"><span style="color:#0000CD;">Op&ccedil;&otilde;es do sistema</span></h1>

<h2>Buscar Not&iacute;cias:</h2>

<p><input name="searchNews" type="text" /><input name="searchNewsButton" type="button" value="Search" /></p>

<h2>Buscar Trending Topics por Pa&iacute;s:</h2>

<p><input name="trendingTopicsSearch" type="text" /><input name="trendingTopicsButton" type="button" value="Search" /></p>

<h2>Buscar Tweets com palavra-chave:</h2>

<p><input name="keywordTweet" type="text" /><input name="keywordButton" type="button" value="Search" /></p>
</body>
</html>
